@model IEnumerable<CarViewModel>
@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Edit" class="btn btn-success">Добавить</a>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">
                <i class="fa fa-edit"></i>
            </a>
        </td>
        <td>
            <form method="post">
                <button type="submit" asp-action="delete" asp-route-id="@item.Id">
                    Удалить
                </button>
            </form>
        </td>
        <td>@item.Mark</td>
        <td>@item.Model</td>
        <td>@item.YearRelease</td>
        <td>
            @Html.ActionLink("Детали", "Details", new { id = item.Id })
        </td>
    </tr>
    }

</table>
